@import url("base.css") all;


body {
background-color:#393431;
color:green; /* make default text stand out cause it should be styled elsewhere  */
font-family:"TF2";
overflow-x:hidden;
font-size:1em;
min-height:60em;
min-width:40em;
}


a {
color:#ece3cb;
text-decoration:none;
}


h1 {
color:#ebe2ca;
font-family:"TF2Build";
font-size:125%;
}


h2 {
font-family:"TF2Build";
font-size:1em;
color:#827868;
}


hr.info, hr.unplaced {
background-image:url("../images/solid_line.png");
background-repeat:repeat-x;
border:none;
height:4px; /* absolute height to match image height */
}


span.equipped { /* needs padding and positioning */
background-color:black;
bottom:0;
color:#c8503c;
display:inline;
float:right;
font-family:"TF2secondary";
font-size:0.5em;
height:1.5em;
bottom:15%;
right:15%;
padding:0;
position:relative;
text-align:center;
not-webkit-border-radius:4pt;
}


h1 span.hilite {
color:#c8503c;
}


h1 span.hilite:before {
content:">> ";
}


span.nonav, span.nav a {
background-color:#ece3cb;
color:#dbad65;
display:inline-block;
height:1.5em;
line-height:1.5em;
padding:0.125em;
text-align:center;
vertical-align:middle;
width:1.5em;
border-radius:0.5em;
color:#2e2b2a;
}


span.nonav {
color:#dbad65;
}


span.nav a:hover {
background-color:#b25216;
}

table.backpack {
margin:0 auto 0 auto;
}


table.unplaced {
}


table.unplaced td, table.backpack td {
height:4em !important
width:5.15em !important;
min-width:5.15em !important;
max-width:5.15em !important;
background-color:#3c352e;
}


table.unplaced img, table.backpack img {
margin-left:0.575em;
height:4em !important
}


table.backpack td {
border-radius:0.75em;
border:0.25em solid #2E2B2A !important;
}

table.backpack td:hover {
border:0.25em solid #847668 !important;
}


table.backpack td.selected {
background-color:#ece3cb !important;
border:0.125em solid #ece3cb !important;
}




table.unplaced td {
border:0.125em solid #393431;
border-radius:0.75em;
}


td.unplacedhover {
border:0.125em solid #847668 !important;
}


#avatar img {
background-color:#84756b;
border:4px solid #84756b; /* absolute height to match hr image height */
height:4em;
width:4em;
right:0.5em;
margin:0.5em;
position:absolute;
top:0;
}


#backpack, #info, #unplaced {
padding:1em 2em 1em 1em;
}


#backpack {
background-color:#2e2b2a;
}


#footer {
background-image:url('../images/solid_line.png');
background-repeat:repeat-x;
color:#827868;
}


#footer div {
font-family:"TF2Build";
line-height:1.5em;
text-align:center;
}


#footer a {
color:#c8bba2;
}


#footer a:hover {
border-bottom:0.125em solid #c8bba2;
}


#info {
background-image:url('../images/header_bg.png');
background-repeat:repeat-x;
}


#nav {
font-family:"TF2Build";
text-align:right;
margin:0;
}


#pages {
color:#c8503c;
display:inline-block;
text-align:center;
width:2em;
}


#steamID {
color:#c8bba1
}


#tooltip {
background:black;
left:0;
padding:1em;
position:absolute;
text-align:center;
top:50%;
z-index:9001;
border-radius:0.5em;
-webkit-box-shadow:rgba(0,0,0,1) 0px 0px 6px;
}


#tooltip h4 {
font-size:0.75em;
color:#ffd700;
font-family:"TF2Build";
margin-bottom:1em;
white-space:nowrap;
}


#tooltip .level, #tooltip .alt, #tooltip .plus, #tooltip .minus {
font-family:"TF2secondary";
font-size:70%;
}


#tooltip .level {
color:#756b5e;
}


#tooltip .alt {
color:#e4dbc4;
}


#tooltip .plus {
color:#8dbceb;
}


#tooltip .minus {
color:#eb3b3b;
}


#unplaced {
background-color:#393431;
}


#unknownProfile {
color:#c8bba2;
display:none;
font-family:"TF2Build";
font-size:1em;
margin:2em auto 2em auto;
text-align:center;
width:100%;
}


#unknownProfile a:hover {
border-bottom:1px solid #ece3cb;
}
