@import url("base.css") all;


body {
background-color:#393431;
color:green; /* make default text stand out cause it should be styled elsewhere  */
font-family:"TF2";
font-size:10px;
min-width:420px;
overflow-x:hidden;
}


a {
color:#ece3cb;
text-decoration:none;
}


h1 {
color:#ebe2ca;
font-family:"TF2Build";
font-size:14px;
}


h2 {
font-family:"TF2Build";
font-size:12px;
color:#827868;
}


hr.info, hr.unplaced {
background-image:url("../images/solid_line.png");
background-repeat:repeat-x;
border:none;
height:4px;
}


span.equipped {
background-color:black;
bottom:2px;
color:#c8503c;
display:inline;
float:right;
font-family:"TF2secondary";
font-size:8pt;
height:12px;
margin-top:-6pt;
padding:2px;
position:relative;
right:2px;
text-align:center;
-webkit-border-radius:4pt;
}


span.hilite {
color:#c8503c;
}


span.nonav, span.nav a {
background-color:#ece3cb;
color:#dbad65;
display:inline-block;
height:20px;
line-height:20px;
padding:3px;
text-align:center;
vertical-align:middle;
width:20px;
-webkit-border-radius:6px;
color:#2e2b2a;
}

span.nonav {
color:#dbad65;
}


span.nav a:hover {
background-color:#b25216;
}


table.unplaced td, table.backpack td {
height:52px !important;
width:67px !important;;
}


table.unplaced img, table.backpack img {
height:42px !important;
width:42px !important;
margin-left:12px !important;
margin-top:3px;
}


table.backpack td {
background-color:#3c352e;
border:3px solid #2e2b2a;
-webkit-border-radius:10px;
}


table.backpack td:hover {
border:3px solid #847668 !important;
}


table.backpack td.selected {
background-color:#ece3cb !important;
border:3px solid #ece3cb !important;
}


table.unplaced {
margin-bottom:10px;
}


table.unplaced td {
border:3px solid #393431;
-webkit-border-radius:10px;
}


td.unplacedhover {
border:3px solid #847668 !important;
}


#avatar img {
background-color:#84756b;
border:3px solid #84756b;
height:32px;
left:85%;
margin:6px;
position:absolute;
top:0;
width:32px;
}


#backpack, #info, #unplaced {
padding-top:10px;
padding-left:10px;
}


#backpack {
background-color:#2e2b2a;
}


#footer {
background-image:url('../images/solid_line.png');
background-repeat:repeat-x;
color:#827868;
padding-top:10px;
}


#footer div {
font-family:"TF2Build";
font-size:8px;
line-height:1.5em;
text-align:center;
width:370px;
}


#footer a {
color:#c8bba2;
}


#footer a:hover {
border-bottom:1px solid #c8bba2;
}


#info {
background-image:url('../images/header_bg.png');
background-repeat:repeat-x;
padding-bottom:6px;
}


#nav {
font-family:"TF2Build";
font-size:14px;
padding:6px 0 9px 0;
text-align:right;
}


#pages {
color:#c8503c;
display:inline-block;
text-align:center;
width:2em;
}


#steamID {
color:#c8bba1
}


#tooltip {
background:black;
left:0;
padding:10px;
position:absolute;
text-align:center;
top:50%;
z-index:9001;
-webkit-border-radius:6px;
-webkit-box-shadow:rgba(0,0,0,1) 0px 0px 6px;
}


#tooltip h4 {
color:#ffd700;
font-family:"TF2Build";
margin-bottom:1em;
white-space:nowrap;
}


#tooltip .level, #tooltip .alt, #tooltip .plus, #tooltip .minus {
font-family:"TF2secondary";
font-size:8pt;
}


#tooltip .level {
color:#756b5e;
}


#tooltip .alt {
color:#e4dbc4;
}


#tooltip .plus {
color:#8dbceb;
}


#tooltip .minus {
color:#eb3b3b;
}


#unplaced {
background-color:#393431;
}


#unknownProfile {
color:#c8bba2;
display:none;
font-family:"TF2Build";
font-size:12px;
margin:2em auto 2em auto;
text-align:center;
width:100%;
}


#unknownProfile a:hover {
border-bottom:1px solid #ece3cb;
}
