@import url("base.css") all;


body {
background-color:#393431;
color:green; /* make default text stand out cause it should be styled elsewhere  */
font-family:"TF2";
font-size:1em;
min-height:70em;
min-width:38em;
overflow-x:hidden;
}


a {
color:#ece3cb;
text-decoration:none;
}


h1 {
color:#ebe2ca;
font-family:"TF2Build";
font-size:135%;
}


h2 {
color:#827868;
font-family:"TF2Build";
font-size:110%;
}


hr.info, hr.unplaced, hr.footer {
border:none;
border-top:0.25em solid #84756b;
}


span.equipped {
background-color:black;
border-radius:0.5em;
bottom:1.2em;
color:#c8503c;
font-family:"TF2secondary";
left:0.25em;
padding:0.25em 0.4em 0.25em 0.4em;
position:relative;
}


span.hilite {
color:#c8503c;
}


span.hilite:before {
content:">> ";
}


span.nonav, span.nav a, #controls a {
background-color:#ece3cb;
border-radius:0.5em;
color:#2e2b2a;
height:1.5em;
line-height:1.5em;
text-align:center;
vertical-align:middle;
padding:0.5em 0.75em 0.5em 0.75em;
border-bottom:none !important;
}

#controls a {
color:#2e2b2a !important;
}

span.nonav {
color:#dbad65;
}


span.nav a:hover,  #controls a:hover {
background-color:#b25216;
}


table.unplaced td, table.backpack td {
max-height:4em !important
min-height:4em !important
width:5.15em !important;
max-width:5.15em !important;
min-width:5.15em !important;

}

table.unplaced td div, table.backpack td div {
width:4em !important;
height:4em !important;
}

table.unplaced img, table.backpack img {
margin-left:0.575em;
height:4em !important
}


table.backpack td {
border-radius:0.75em;
border:0.25em solid #2E2B2A !important;
background-color:#3c352e;
}


/* the second selector is for only unplaced table cells w/o an image child */
table.backpack td:hover, table.unplaced td:not(:empty):hover {
border:0.25em solid #847668 !important;
}


table.backpack td.selected {
background-color:#ece3cb !important;
border:0.25em solid #ece3cb !important;
}


table.unplaced td {
border:0.25em solid #393431;
border-radius:0.75em;
}


.centered {
margin:0 auto 0 auto;
}

#avatar {
text-align:right;
right:0.5em;
margin:0.5em;
position:absolute;
top:0;
}

#avatar img {
background-color:#84756b;
border:0.25em solid #84756b;
height:4em;
width:4em;
vertical-align:top;
}


#backpack, #info, #unplaced, #footer {
font-family:"TF2Build";
padding:1em 2em 1em 1em;
}


#backpack {
background-color:#2e2b2a;
}


#footer {
color:#827868;
}


#footer .links {
font-family:"TF2Build";
line-height:1.5em;
font-size:80%;
margin-left:1em;
}


#footer a {
color:#c8bba2;
}


#footer a:hover {
border-bottom:0.125em solid #c8bba2;
}


#info {
background-image:url('../images/header_bg.png');
background-repeat:repeat-x;
line-height:200%;
}


#nav {
font-family:"TF2Build";
text-align:right;
margin:1em auto 0 auto;
}


#pages {
color:#c8503c;
display:inline-block;
text-align:center;
width:2em;
font-size:135%;
vertical-align:middle;
}


#steamID {
color:#c8bba1
}


#steamID a {
color:#c8bba2;
}


#steamID a:hover {
border-bottom:0.125em solid #c8bba2;
}


#tooltip {
-webkit-box-shadow:0 0 1em rgba(0,0,0,1);
background:#000;
border-radius:0.75em;
padding:1em;
position:absolute;
text-align:center;
z-index:9002;
overflow:hidden;
}


#tooltip h4 {
color:#ffd700;
font-family:"TF2Build";
margin-bottom:1em;
white-space:nowrap;
font-size:12pt;
}

#tooltip h4.valve {
color:#aa00aa;
}

#tooltip h4.valve:before {
content:"Valve ";
}

#tooltip h4.community {
color:#00aa00;
}

#tooltip h4.community:before {
content:"Community ";
}


#tooltip .level, #tooltip .alt, #tooltip .positive, #tooltip .negative {
font-family:"TF2secondary";
font-size:11pt;
}


#tooltip .level {
color:#756b5e;
}


#tooltip .alt {
color:#e4dbc4;
}


#tooltip .positive {
color:#8dbceb;
}


#tooltip .negative {
color:#eb3b3b;
}


#unknownProfile {
color:#c8bba2;
display:none;
font-family:"TF2Build";
font-size:1em;
margin:2em auto 2em auto;
text-align:center;
width:100%;
}


#unknownProfile a:hover {
border-bottom:0.125em solid #ece3cb;
}

#unknownProfile input[type="text"] {
color:black;
font-family:sans;
font-weight:bold;
font-size:1em;
margin:1em;
margin-bottom:0.25em;
}

#saveButton, #cancelButton, #closeButton {
color:#756b5e;
width:4em;
font-family:"TF2secondary";
font-size:12pt;
border:0.125em solid #756b5e;
padding:0.25em;
margin:1em;
background-color:#c8bba2;
}

#saveButton:hover, #cancelButton:hover, #closeButton:hover {
background-color:#847668;
color:#2e2b2a;
}


#controls {
font-family:"TF2Build";
text-align:center;
margin-bottom:1em;
}

#controls hr {
background-image:url("../images/dotted_line.png");
border:none;
height:16px;
margin:0.5em auto 0.5em auto;
}


#refresh a:hover {
border-bottom:0.125em solid #c8bba2;
}


#metrics {
font-family:"TF2Build";
font-size:85%;
margin-bottom:1em;
}

#metrics td {
a-text-align:center;
padding:1em;
}

#error {
background-color:rgba(50%, 0%, 0%, 0.15);
opacity:0.9;
border:0.25em solid rgba(50%, 0%, 0%, 0.5);;
border-radius:0.75em;
margin:0 auto 0 auto;
width:50%;
text-align:center;
color:#fff;
}

#error div {

}
