@import url("base.css") all;
@import url("fonts.css") all;
/*
background dark brown: #2e2b2a

cell background darkish brown: #3c352e
cell hover border medium brown: #847668
cell highlight medium brown: #c8bba2

footer slightly lighter darkish brown: #393431
page numbering and >> symbol orangered: #c8503c
button background peach:  #fbebca
button disabled text darker peach: #dbad65

button hover background orange: #b25216
button normal text brown: #756b5e
small title text brown:   #756b5e

title text: #ebe2ca
title darker text:  #c8bba1
title darkest text: #827868

tooltip title text: #ffd700
tooltip level text: #756b5e
tooltip info1 text: #94c6f7
tooltip info2 text: #e4dbc4

equipped text orange red: #c54f3b

cell normal dim: 67px wide by 52px high (width factor 1.288)

*/


body {
min-width:400px;
min-height:600px;
font-family:"TF2";
font-size: 10px;
overflow-x: hidden;
background-image:url('../hud/header_bg.png');
background-repeat:repeat-x;
background-color:#2e2b2a;
background-color:#393431; /* for footer */
color : green; /* standout for now */

}


h1 {
font-family:"TF2Build";
font-size:14px;
color: #ebe2ca;
}

h1 span.hilite {
    color:#c8503c;
}

a {
    color : #ece3cb;
    font-weight:bold;
    text-decoration:none;
}

#unplaced, #backpack {
padding-top:10px;
padding-left:10px;
}

hr.unplaced {
background-image:url("../hud/solid_line.png");
background-repeat:repeat-x;
border:none;
height:4px;
}

#backpack {
background-color:#2e2b2a;
}


fullWidth {
width:100%;
}

centeredMargin {
margin:0 auto 0 auto;
}

table.unplaced img, table.backpack img {
height:42px !important;
width:42px !important;
margin-left:12px !important;
}

table.unplaced td,
table.backpack td {
width:67px !important;;
height:52px !important;

}

table.backpack td {
background-color:#3c352e;
border:3px solid #2e2b2a;
-webkit-border-radius:10px;
}

table.unplaced td {
a-background-color:#2e2b2a;
a-border:3px solid #2e2b2a;
}

table.backpack td:hover {
border:3px solid #ece3cb;
}

.cellFg {
background-color:#ece3cb !important;
border:3px solid #ece3cb !important;
}

table.backpack img {
a-border:1px dotted white;
margin-left:3px;
margin-top:3px;
}

#tooltip {
-webkit-border-radius:6px;
height:24px;
width:96px;
background:black;
z-index:9001;
position:absolute;
top:50%;
left:0;
-webkit-box-shadow: rgba(0,0,0,1) 0px 0px 6px;
}



#nav {
font-size:14px;
font-family:"TF2Build";
text-align:right;
width:365px;
padding-bottom:10px;
}


.nav {
background-color:#ece3cb;
width:20px;
height:20px;
line-height:20px;
display:inline-block;
-webkit-border-radius:6px;
vertical-align:middle;
text-align:center;
}


.nav:hover {
background-color:#b25216;
}


.nav a {
color:#2e2b2a;
}

.nav a:hover {
border:none;
}

#pages {
color:#c8503c;
width:2em;
display:inline-block;
text-align:center;
}

#footer {
background-image:url('../hud/solid_line.png');
background-repeat:repeat-x;
padding-top:10px;
color:#827868;
}

#footer div {
width:370px;
text-align:center;
}

#footer a {
color:#827868;
text-decoration:none;
}

#footer a:hover {
border-bottom:1px solid #827868;
}
