@import url("base.css") all;
@import url("fonts.css") all;


body {
    color : #ece3cb;
    background-color:#2e2b2a;
    min-width:400px;
    min-height:600px;
    font-family:"TF2";
    font-size: 10px;
    overflow-x: hidden;
    padding:1em;
}

h1 {
font-family:"TF2Build";
font-size:14px;
}

h1 span.hilite {
    color:red;
}

a {
    color : #ece3cb;
    font-weight:bold;
    text-decoration:none;
}

a:hover {
    border-bottom:1px solid white;
}

table.unplaced,
table.backpack {
margin:0 auto 0 auto;
}


table.unplaced td,
table.backpack td {
width:48px;
height:48px;
background-color:#3c352e;
border:3px solid #2e2b2a;
-webkit-border-radius:10px;
}

table.unplaced td {
background-color:#2e2b2a;
border:3px solid #2e2b2a;
}

table.backpack td:hover {
border:3px solid #ece3cb;
}

.cellFg {
background-color:#ece3cb !important;
border:3px solid #ece3cb !important;
}

table.backpack img {
a-border:1px dotted white;
margin-left:3px;
margin-top:3px;
}

#tooltip {
-webkit-border-radius:6px;
height:24px;
width:96px;
background:black;
z-index:9001;
position:absolute;
top:50%;
left:0;
-webkit-box-shadow: rgba(0,0,0,1) 0px 0px 6px;
}



#backpackNav {
margin:0 auto 0 auto;
text-align:right;
width:272px;
font-size:14px;
font-family:"TF2Build";
}

.buttonNav {
background-color:#ece3cb;

width:20px;
height:20px;
line-height:20px;
display:inline-block;
-webkit-border-radius:6px;
vertical-align:middle;
text-align:center;
}


.buttonNav:hover {
background-color:red;
}


.buttonNav a {
color:#2e2b2a;
}

.buttonNav a:hover {

}

#progressNav {
color:red;
}



